{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1>{% blocktrans %}Customers{% endblocktrans %}</h1>
    <p>Example module</p>
    <table class="table">
        <tr>
            <th>{% blocktrans %}Customers{% endblocktrans %}</th>
            <th>{% blocktrans %}Actions{% endblocktrans %}</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>
                {% if 'customers' in perms %}
                <ul class="list-inline">
                    {% if perms.customers.change_customer %}
                    <li><a href="{% url 'customers-edit' customer.pk %}"><i class="fa fa-edit"></i></a></li>
                    {% endif %}
                    {% if perms.customers.delete_customer %}
                    <li><a href="{% url 'customers-delete' customer.pk %}"><i class="fa fa-trash"></i></a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">{% trans 'No customers in database!' %}</td>
        </tr>
        {% endfor %}
    </table>
    {% if perms.customers.add_customer %}
    <a class="btn btn-primary" href="{% url 'customers-create' %}">Create</a>
    {% endif %}
</div>
{% endblock content %}

