{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1>{% blocktrans %}Customers{% endblocktrans %}</h1>
    <p>Example module</p>
    <table>
        <tr>
            <th>Customer</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>No customers in database!</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}

